<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.znanykonultant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZnanyKonultant">
        <activity android:name=".consultant.appointments.ConsultantAppointmentsVisitsActivity"></activity>
        <activity android:name=".user.appointments.UserAppointmentsVisitsActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".consultant.workingHours.ConsultantEditWorkingHoursActivity" />
        <activity android:name=".user.appointments.UserAppointmentsActivity" />
        <activity android:name=".user.consultant.profile.opinion.OpinionActivity" />
        <activity android:name=".user.consultant.profile.UserConsultantProfileActivity" />
        <activity android:name=".consultant.services.ConsultantAddServiceActivity" />
        <activity android:name=".chat.SingleChatActivity" />
        <activity android:name=".consultant.services.ConsultantServiceEdit" />
        <activity android:name=".consultant.profile.ConsultantPage" />
        <activity android:name=".consultant.ConsultantMainPageActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".user.UserMainPageActivity" />
        <activity android:name=".registration.RegistrationActivity" />
        <activity android:name=".login.LoginActivity" />

        <receiver
            android:name=".user.appointments.NotificationContent"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>